<ion-header [translucent]="true" >
  <ion-toolbar >
    <ion-title >
      Date Calculator
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item class="color11">
    <ion-text>
      <p>Calculator to add or substract days, weeks, months, or years from certain date</p>
    </ion-text>
  </ion-item>
  <ion-item-divider class="color5"></ion-item-divider>
  <ion-list>
    <ion-item class="color2">
      <ion-label>Start date:</ion-label>
      <ion-datetime (ionChange)="check()" [(ngModel)]="from" placeholder="Pick date"></ion-datetime>
    </ion-item>
    <ion-item class="color2">
      <ion-label>Add days:</ion-label>
      <ion-input slot="end" type="number" (ionChange)="check()" [(ngModel)]="days" placeholder="Insert number"></ion-input>
    </ion-item>
    <ion-item class="color2">
      <ion-label>Add weeks:</ion-label>
      <ion-input slot="end" type="number" (ionChange)="check()" [(ngModel)]="weeks" placeholder="Insert number"></ion-input>
    </ion-item>
    <ion-item class="color2">
      <ion-label>Add months:</ion-label>
      <ion-input slot="end" type="number" (ionChange)="check()" [(ngModel)]="months" placeholder="Insert number"></ion-input>
    </ion-item>
    <ion-item class="color2">
      <ion-label>Add years:</ion-label>
      <ion-input slot="end" type="number" (ionChange)="check()" [(ngModel)]="years" placeholder="Insert number"></ion-input>
    </ion-item>
    <ion-item class="color3">
      <p>Use negative (-) for substraction.</p>
    </ion-item>
    <ion-item-divider class="color5"></ion-item-divider>
    <ion-item class="color1">
      <ion-label>End date:</ion-label>
      <ion-text>{{end | date}}</ion-text>
    </ion-item>
</ion-list>
</ion-content>