/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

:root {
    --ion-color-primary: #062E6E;
    --ion-background-color: #FFFFFF;
}

ion-toolbar {
    --background: #062E6E;
    --border-style: solid;
    --border-color: #062E6E;
    --color: #ffffff;
}
ion-label {
    font-size: 1.0em !important;
}
ion-radio {
    --color-checked: #062E6E;
}
.color1 {
    --background: #FA9F1F;
    --border-style: solid;
    --border-color: #B4F8C8;
    --color: #000000;
}
.color11 {
    --background: #FA9F1F;
    --border-style: solid;
    --border-color: #B4F8C8;
    --color: #000000;
    text-align: center;
}
.color2 {
    --background:#1894B4;
    --border-style: solid;
    --border-color: #1894B4;
    --color: #000000;
}
.color3 {
    --background: #EEEDE7;
    --border-style: solid;
    --border-color: #EEEDE7;
    --color: #000000;
}
.color4 {
    --background: #062E6E;
    --border-style: solid;
    --border-color: #062E6E;
    --color: #ffffff;
    text-align: center;
}

.color5 {
    --background: #ffffff;
}